.auth_main {
    /* background-image: url("./../../../frontend/public/img/bannerbild.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.create_main {
    display: flex;
    width: auto;
    
}